

.meus-filmes{
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.meus-filmes h1{
    margin-bottom: 14px;
}

.meus-filmes span{
    font-size: 18px;
}

.meus-filmes ul{
    width: 720px;
}

.meus-filmes ul li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin-bottom: 14px;
}

.meus-filmes div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.meus-filmes a{
    text-decoration: none;
    color: brown;
    margin-right: 8px;
}

.meus-filmes button{
    background-color: brown;
    color: #fff;
    padding: 3px;
    border-radius: 3px;
    margin-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 0;
}

